In [77]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [59]:
file_path = 'CrashReport.csv'
data = pd.read_csv(file_path, index_col = 0)

In [60]:
data.head()

,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,...,2002,2001,2000,1999,1998,1997,1996,1995,1994,isHeader
colname,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Motor Vehicle Traffic Crashes,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,1.0
Fatal Crashes,39221,39785,35935,33487,33919,34560,34748,32538,30056,30202,...,38491,37862,37526,37140,37107,37324,37494,37241,36254,0.0
Traffic Crash Fatalities,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,1.0
Vehicle Occupants,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,1.0

In [61]:
data.describe()

        isHeader
count  25.000000
mean    0.320000
std     0.476095
min     0.000000
25%     0.000000
50%     0.000000
75%     1.000000
max     1.000000

In [62]:
print(data.isnull().sum())

2022        1
2021        1
2020        1
2019        1
2018        1
2017        1
2016        1
2015        1
2014        1
2013        1
2012        1
2011        1
2010        1
2009        1
2008        1
2007        1
2006        1
2005        1
2004        1
2003        1
2002        1
2001        1
2000        1
1999        1
1998        1
1997        1
1996        1
1995        1
1994        1
isHeader    1
dtype: int64

In [78]:
data.replace('-', np.nan, inplace = True)
data = data.dropna()

In [79]:
data.describe()

        isHeader
count  19.000000
mean    0.105263
std     0.315302
min     0.000000
25%     0.000000
50%     0.000000
75%     0.000000
max     1.000000

In [84]:
data = data.rename(index = {'&nbsp;&nbsp;Motorcyclists' : 'Motorcyclists'})

In [87]:
data = data.rename(index = {'Unknown' : 'Unknown1', 'Other/ Unknown' : 'Unknown2', 'Total*' : 'Total'})

In [88]:
data

,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,...,2002,2001,2000,1999,1998,1997,1996,1995,1994,isHeader
colname,,,,,,,,,,,,,,,,,,,,,
Fatal Crashes,39221,39785,35935,33487,33919,34560,34748,32538,30056,30202,...,38491,37862,37526,37140,37107,37324,37494,37241,36254,0.0
Drivers,20908,21716,19552,17984,18321,18819,18717,17615,16470,16520,...,23625,22914,22914,22971,22654,22730,22572,22370,21596,0.0
Passengers,6393,6580,6011,5846,5962,6237,6485,6213,5766,5896,...,10370,10227,10451,10325,10327,10765,10860,10576,10294,0.0
Unknown1,43,43,54,61,49,74,74,71,71,67,...,110,102,86,96,107,114,102,118,108,0.0
Sub Total1,27344,28339,25617,23891,24332,25130,25276,23899,22307,22483,...,34105,33243,33451,33392,33088,33609,33534,33064,31998,0.0
Motorcyclists,6218,6143,5620,5044,5038,5226,5337,5029,4594,4692,...,3270,3197,2897,2483,2294,2116,2161,2227,2320,1.0
Pedestrians,7522,7470,6565,6272,6374,6075,6080,5494,4910,4779,...,4851,4901,4763,4939,5228,5321,5449,5584,5489,0.0
Pedalcyclists,1105,976,948,859,871,806,853,829,729,749,...,665,732,693,754,760,814,765,833,802,0.0
Unknown2,325,302,257,289,220,236,260,233,204,190,...,114,123,141,149,131,153,154,109,107,0.0
Sub Total2,8952,8748,7770,7420,7465,7117,7193,6556,5843,5718,...,5630,5756,5597,5842,6119,6288,6368,6526,6398,0.0
Total,42514,43230,39007,36355,36835,37473,37806,35484,32744,32893,...,43005,42196,41945,41717,41501,42013,42065,41817,40716,1.0
Vehicle Miles Traveled (Billions),3196,3132,2904,3262,3240,3210,3174,3090,3020,2983,...,2856,2796,2747,2690,2628,2552,2484,2423,2358,0.0
Resident Population (Thousands),333288,332032,331512,328330,326838,325122,323072,320739,318386,316060,...,287625,284969,282162,272691,270248,267784,265229,262803,260327,0.0
Registered Vehicles (Thousands),303529,302634,297101,299267,297036,290336,288034,281312,274805,269294,...,225685,221230,217028,212685,208076,203568,201631,197065,192497,0.0
Licensed Drivers (Thousands),235086,232782,228196,228916,227558,225346,221712,218084,214092,212160,...,194602,191276,190625,187170,184861,182709,179539,176628,175403,0.0
Fatalities per 100 Million Vehicle Miles Traveled,1.33,1.38,1.34,1.11,1.14,1.17,1.19,1.15,1.08,1.1,...,1.51,1.51,1.53,1.55,1.58,1.65,1.69,1.73,1.73,0.0
"Fatalities per 100,000 Population",12.76,13.02,11.77,11.07,11.27,11.53,11.7,11.06,10.28,10.41,...,14.95,14.81,14.87,15.3,15.36,15.69,15.86,15.91,15.64,0.0
"Fatalities per 100,000 Registered Vehicles",14.01,14.28,13.13,12.15,12.4,12.91,13.13,12.61,11.92,12.21,...,19.06,19.07,19.33,19.61,19.95,20.64,20.86,21.22,21.15,0.0
"Fatalities per 100,000 Licensed Drivers",18.08,18.57,17.09,15.88,16.19,16.63,17.05,16.27,15.29,15.5,...,22.1,22.06,22,22.29,22.45,22.99,23.43,23.68,23.21,0.0